body {
	background-color: skyblue;
}
h1 {
	font-family: Broadway;
}
h1.title {
	font-family: Bernard MT Condensed;
	font-size: 40px;
	padding-left: 70px;
	color: purple;
}
.logo {
	height: 60px;
	width: 60px;
	float: left;
}
a:hover {
	color: blue;
	text-shadow: 0px 2px 1px;
}
table {
	color: darkgreen;
	border-color: green;
}
hr {
	color: red;
}
div#profil {
	background-color: Lightsteelblue;
	border-color: mediumblue;
}
div#keistimewaan {
	background-color: Dodgerblue;
	border-radius: 20px;
}
.namamobil {
	font-size: 20px;
	background-color: gray;
	color: white;
	font-family: Franklin Gothic Book;
	cursor: pointer;
}
.hargasewa:hover {
	background-color: blue;
	color: white;
	cursor: pointer;
}
.namamobil:hover {
	background-color: Forestgreen;
	color: white;
}
.gambarmobil {
	border-radius: 100%;
	cursor: pointer;
}
.gambarmobil:hover {
	border-radius: 0px;
}
h3 {
	font-family: lucida handwriting;
}
.profil{
	text-align: left;
	font-size: 15px;
	font-family: century gothic;
}
p {
	font-size: 20px;
	color: white;
}
p.profil {
	font-size: 17px;
	color: black;
}
img.id {
	border-radius: 5px;
}
img.hubungi {
	border-radius: 20px;
}
.bawah {
	clear: left;
	height: 60px;
	background-color: darkgray;
}
.footer1 {
	padding-top: 2px;
	margin: 10px;
	width: 30%;
	float: left;
	background-color: darkgray;
	height: 180px;
}
.footer2 {
	padding-top: 2px;
	margin: 10px;
	float: left;
	width: 33%;
	background-color: darkgray;
	height: 180px;
}
.footer3 {
	padding-top: 2px;
	margin: 10px;
	float: left;
	width: 32%;
	background-color: darkgray;
	height: 180px;
}
.footer1:hover {
	padding-top: 2px;
	margin: 10px;
	width: 30%;
	float: left;
	background-color: gray;
	height: 180px;
	border-radius: 15px;
}
.footer2:hover {
	padding-top: 2px;
	margin: 10px;
	float: left;
	width: 33%;
	background-color: gray;
	height: 180px;
	border-radius: 15px;
}
.footer3:hover {
	padding-top: 2px;
	margin: 10px;
	float: left;
	width: 32%;
	background-color: gray;
	height: 180px;
	border-radius: 15px;
}
