body {
	background-color: powderblue;
}
h1 {
	font-family: Broadway;
}
h1.title {
	font-family: Bernard MT Condensed;
	font-size: 40px;
}
.footer {
	height: 300px;
	width: 100%;
	background-color: gray;
}
.logo {
	height: 60px;
	width: 60px;
	float: left;
}
table {
	color: darkgreen;
	border-color: green;
}

.namamobil {
	font-size: 20px;
	background-color: gray;
	color: white;
	font-family: Franklin Gothic Book;
	cursor: pointer;
}
.hargasewa:hover {
	background-color: Forestgreen;
	color: white;
	cursor: pointer;
}
.namamobil:hover {
	background-color: Forestgreen;
	color: white;
}
.gambarmobil {
	border-radius: 100%;
	cursor: pointer;
}
.gambarmobil:hover {
	border-radius: 0px;
}
h3 {
	font-family: lucida handwriting;
}
.profil{
	text-align: left;
	font-size: 15px;
	font-family: century gothic;
}
p {
	font-size: 20px;
}
p.profil {
	font-size: 17px;
}
img.id {
	border-radius: 5px;
}